[submodule "bundle/Jenkinsfile-vim-syntax"]
	path = bundle/Jenkinsfile-vim-syntax
	url = https://github.com/martinda/Jenkinsfile-vim-syntax.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-bazel"]
	path = bundle/vim-bazel
	url = https://github.com/davidzchen/vim-bazel.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://all4dich@github.com/fatih/vim-go.git
[submodule "bundle/vim-pug"]
	path = bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "bundle/vim-hug-neovim-rpc"]
	path = bundle/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "bundle/nvim-yarp"]
	path = bundle/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/vim-node"]
	path = bundle/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-webostv-dev"]
	path = bundle/vim-webostv-dev
	url = https://github.com/cerberus-tools/vim-webostv-dev.git
